@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #131313;
}

@keyframes pink-flicker {
  0%{
    box-shadow: 0 0 0px #ea00d9;
  }
  50%{
    box-shadow: 0 0 25px #ea00d9;
  }
  100%{
    box-shadow: 0 0 0px #ea00d9;
  }
}